server.port: 8000
spring:
  datasource:
    url: "${SPRING_DATASOURCE_URL}"
    username: "${SPRING_DATASOURCE_USERNAME}"
    password: "${SPRING_DATASOURCE_PASSWORD}"
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "${OAUTH_CLIENT_ID}"
            client-secret: "${OAUTH_CLIENT_SECRET}"
            scope:
              - profile
              - email
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 15
        dialect: org.hibernate.dialect.MySQLDialect
jwt:
  secret: "${JWT_SECRET}"
  expiration: 86400000
app:
  dashboard-url: "https://app.shortener-qa.scg.skku.ac.kr/"